:root {
    --serif:"Times New Roman", serif;
    --sans-serif:"NHaasGroteskTXStd-55Rg", "Neue Haas Grotesk Text Std", "Arial", sans-serif;
    --baseline:8px;
    --baseline-color:cyan;
    --baseline-position:0;
    --text-xxs:0.5rem;   /*  8px */
    --text-xs:0.75rem;   /* 12px */
    --text-sm:0.875rem;  /* 14px */
    --text-base:1rem;    /* 16px */
    --text-lg:1.25rem;   /* 20px */
    --text-xl:1.5rem;    /* 24px */
    --text-2xl:2.25rem;  /* 36px */
    --text-3xl:3.375rem; /* 54px */
}

body {
    font-family: var(--serif);
    line-height: 1.333;
    orphans: 3;
    widows: 3;
    font-size: var(--text-base);
    counter-reset: figures footnotes chapters;
}

/* Baseline */
/*
.pagedjs_page {
    background: linear-gradient(white 0%,white calc(var(--baseline) - 1px),var(--baseline-color) calc(var(--baseline) - 1px),var(--baseline-color) var(--baseline)),transparent;
    background-size: 100% var(--baseline);
    background-repeat: repeat-y;
    background-position-y: var(--baseline-position);
}*/

/* Titres & sous-titres */
h1, h2, h3, h4, h5 {
    font-family: var(--sans-serif);
    font-weight: normal;
    break-inside: avoid;
    letter-spacing: -0.005em;
    position: relative;
    left: -0.015em; /* alignement optique */
}
h1 {
    font-size: var(--text-3xl);
    line-height: calc(var(--baseline) * 7);
    margin-top: 0;
}
h2 {
    font-size: var(--text-2xl);
    line-height: calc(var(--baseline) * 5);
    margin-top: 0;
    counter-increment: chapters;
    string-set: title content(text);
}
h2:before {
    content: "Cahier n°"counter(chapters);
    display: block;
    font-size: var(--text-xl);
    line-height: calc(var(--baseline) * 4);
    margin-bottom: 23px;
    margin-top: 1px;
}
h3 {
    font-size: var(--text-xl);
    line-height: calc(var(--baseline) * 4);
    margin-bottom: 23px;
}
p + h3 {
    margin-top: 33px;
}
figure + h3 {
    margin-top: 32px;
}
h3 + p {
    margin-top: 23px; 
}
h4 {
    font-size: var(--text-lg);
    line-height: calc(var(--baseline) * 3);
    margin-bottom: 18px;
    margin-top: 30px;
}
figure + p + h4 {
    margin-top: 33px; 
}
h4 + p {
    margin-top: 18px; 
}
h5 {
    font-size: var(--text-base);
    line-height: calc(var(--baseline) * 3);
    margin: 0 0 1px;
}
h5 + p {
    margin-top: 0;
}
h5 + ul {
    margin-top: -1px;
}

/* Texte et listes */
p, ul, ol, small {
    line-height: calc(var(--baseline) * 3);
    margin: calc(var(--baseline) * 3) 0;
}
ul {
    padding-left: 1rem;
}
ul > li {
    list-style: none;
    padding-left: 0.5rem;
}
ul > li:before {
    content: "—";
    font-family: var(--sans-serif);
    position: absolute;
    left: 0;
}
ul > li > ul {
    margin: 0;
}
p > small,
.text-xs {
    font-size: var(--text-xs);
}
.text-xxs {
    font-size: var(--text-xxs);
}


/* Indices et exposants */
sup, sub {
    line-height: 0;
}

/* Images + Figures */
img {
    max-width: 100%;
}
figure {
    position: relative;
    margin: 26px 0 24px;
    break-inside: avoid;
}
figure > img {
    width: 100%;
    object-fit: cover;
    object-position: left;
    max-height: 640px;
}
figure > img[height="640"] {
    object-fit: contain;
}
figcaption,
caption {
    font-family: var(--sans-serif);
    font-style: italic;
    font-size: var(--text-xs);
    line-height: calc(var(--baseline) * 2);
    margin-top: 14px;
    margin-bottom: 27px;
    counter-increment: figures;
}
caption::before,
figcaption::before {
    content: "Fig. "counter(figures)" : ";
}
figcaption .credits {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    font-style: normal;
    opacity: .5;
    font-size: var(--text-xxs);
    text-transform: uppercase;
    letter-spacing: 0.02em;
}
img[src*="media/encadre"] {
    border: 2px solid #CB4439;
}
img[src*="media/schema"] {
    object-fit: contain;
}
figure ~ p ~ h3 {
    margin-top: 27px !important;
}
/* Double page */
figure.double-page {
    break-before: left;
    break-after: left;
    margin-top: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 960px;
}
figure.double-page > img {
    height: 100%;
    max-height: 640px;
    width: 100%;
    max-width: 960px;
    object-position: center;
    mix-blend-mode: darken;
}
figure.double-page > figcaption {
    margin-top: 22px;
    margin-bottom: 0;
    max-width: calc(var(--pagedjs-width) - var(--pagedjs-margin-left) - var(--pagedjs-margin-right) )
}
.pagedjs_left_page figure.double-page {
    right: calc(-1 * var(--pagedjs-width) + var(--pagedjs-margin-right) - var(--pagedjs-margin-left));
}
.pagedjs_right_page figure.double-page {
    left: calc(-1 * var(--pagedjs-width) + var(--pagedjs-margin-right) - var(--pagedjs-margin-left));
}
.pagedjs_right_page figure.double-page > figcaption {
    display: none;
}

/* Liens */
a {
    color: black;
    word-break: break-word;
}

/* Citations */
blockquote {
    margin: 25px 0 29.5px;
    padding: 16px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: var(--text-lg);
}
blockquote > p {
    margin: 4px 0;
    line-height: 24px;
}
blockquote > footer {
    font-family: var(--sans-serif);
    font-size: var(--text-sm);
    margin-bottom: 3.5px;
    margin-top: 5px;
}
blockquote + p {
    margin-top: 21px;
}

/* Tableaux */
table {
    font-family: var(--sans-serif);
    font-size: var(--text-xs);
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 25px;
    break-inside: avoid;
}
table td,
table th {
    border: 1px solid black;
    vertical-align: top;
    padding: .625em .5rem;
}
table th {
    font-weight: normal;
}
caption {
    caption-side: bottom;
    text-align: left;
    margin-top: 11px;
}
.text-left { text-align: left }
.text-right { text-align: right }
.text-center { text-align: center }

tr.text-xxs > td, td.text-xxs,
tr.text-xxs > th, th.text-xxs {
    padding: .6em .5rem;
}
#tableau4 {
    break-before: left;
}
#tableau4bis {
    margin-bottom: 70px;
}

/* Table des matières */
#toc-title {
    margin-bottom: 24px;
}
#toc {
    font-family: var(--sans-serif);
    break-after: right;
}
#toc li {
    padding-left: 0;
    padding-right: 2.5rem;
}
#toc li::before {
    content: "";
}
/* hide Colophon */
#toc li:last-child {
    display: none;
}
#toc li a::after {
    content: target-counter(attr(href), page);
    float: right;
}
/* set the style for the list numbering to none */
#list-toc-generated { 
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}
#list-toc-generated .toc-element-level-1 {
    margin-top: 16px;
}
#list-toc-generated .toc-element-level-2 {
    font-size: var(--text-sm);
}
#list-toc-generated .toc-element-level-1:before {
    font-size: var(--text-sm);
    font-weight: normal;
    position: relative;
}
#list-toc-generated [data-counter-countertoclevel1-value="1"]:before {
    content: "Cahier n°1";
}
#list-toc-generated [data-counter-countertoclevel1-value="2"]:before {
    content: "Cahier n°2";
}
#list-toc-generated [data-counter-countertoclevel1-value="3"]:before {
    content: "Cahier n°3";
}
/* counters */
#list-toc-generated { 
    counter-reset: counterTocLevel1; 
}
#list-toc-generated .toc-element-level-1 { 
    counter-increment: counterTocLevel1; 
    counter-reset: counterTocLevel2; 
}
/*
#list-toc-generated .toc-element-level-1::before { 
    content: counter(counterTocLevel1) ". ";
    padding-right: 5px;
}
#list-toc-generated .toc-element-level-2 { 
    counter-increment: counterTocLevel2; 
}
#list-toc-generated .toc-element-level-2::before { 
    content: counter(counterTocLevel1) ". " counter(counterTocLevel2) ". ";
    padding-right: 5px;
}*/
/* hack for leaders */
#list-toc-generated {
    overflow-x: hidden;
}
#list-toc-generated .toc-element {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--baseline);
    line-height: calc(var(--baseline) * 3);
}
/* fake leading */
/*#list-toc-generated .toc-element::after {
    content: 
        ".............................................."
        ".............................................."
        ".............................................."  
        "........";
    opacity: 0;
    float: left;
    width: 0;
    padding-left: 5px;
    letter-spacing: 2px;
}*/
#list-toc-generated .toc-element a {
    right: 0;
    text-decoration: none;
}
#list-toc-generated .toc-element a::after {
    content: target-counter(attr(href), page);
    font-size: var(--text-sm);
    float: right;
    position: absolute;
    right: 0;
    background-color: white;
    padding-left: 6px;
}


/* Encadrés */
aside {
    font-family: var(--sans-serif);
    font-size: var(--text-sm);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 21px 0 23px;
    margin: 25px 0 29px;
    break-inside: avoid;
}
aside > h4 {
    margin-top: -1px;
    margin-bottom: 26px;
}
aside > h4 + p {
    margin-top: 0;
}
aside > h4 ~ p > img:first-child {
    margin-top: 2px;
}
aside > p:last-child {
    margin-bottom: 2px;
}
aside + h4 {
    margin-top: 27px;
}
aside > p > img {
    margin-top: 18px;
}
p ~ ul,
aside > p ~ ul {
    margin-top: calc(var(--baseline) * -3);
}
aside[data-split-original],
aside[data-split-original][data-split-from] {
    border-bottom: none;
}
aside[data-split-from] {
    border-top: none;
}
aside[data-split-from] > h5:first-child {
    margin-top: -2px;
}
aside[data-split-from] > p:first-child {
    margin-top: -4px;
}
aside[data-split-from] > p:first-child > img:first-child {
    margin-top: 4px;
}
aside img {
    width: 100%;
}

/* Notes */
.footnotes {
    break-inside: avoid;
    font-family: var(--sans-serif);
    font-size: var(--text-xs);
}
.footnote-ref {
    font-size: 0.625rem;
    font-family: var(--sans-serif);
    margin-left: 0.125em;
    text-decoration: none;
}
.footnote-backref {
    display: inline-block;
    opacity: 0;
    position: absolute;
    left: -2rem;
    top: 0;
    width: 2em;
    height: 1.5em;
}
.footnotes > hr {
    border: none;
    border-top: 1px solid black;
    margin: 23px 0 27px;
}
.footnotes ol {
    list-style-type: none;
    padding-left: 2rem;
    margin: 0;
    line-height: 1rem;
}
.footnotes ol > li {
    counter-increment: footnotes;
    break-inside: avoid;
    position: relative;
}
.footnotes ol > li:before {
    content: counter(footnotes)'.';
    position: absolute;
    left: -2rem;
}
.footnotes ol > li > p {
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1rem;
}
::marker {
    text-decoration: underline;
}

/* Couverture & faux-titre */
#cover {
    color: white;
}
#cover img,
#last-page img {
    position: absolute;
    top: calc(-1 * var(--pagedjs-margin-top));
    left: calc(-1 * var(--pagedjs-margin-left));
    width: calc(100% + var(--pagedjs-margin-left) + var(--pagedjs-margin-right));
    max-width: unset;
    height: calc(100% + var(--pagedjs-margin-top) + var(--pagedjs-margin-bottom));
    object-fit: cover;
}
#cover img {
    object-position: left;
}
#last-page img {
    object-position: right;
}
#cover, 
#first-page {
    font-family: var(--sans-serif);
}
#cover header, 
#first-page header {
    position: relative;
}
#cover .author,
#first-page .author {
    margin-top: -3px;
    margin-bottom: 18.5px;
}
#cover footer,
#first-page footer {
    position: absolute;
    bottom: 2px;
    font-size: var(--text-sm);
}
#cover footer p,
#first-page footer p {
    margin: 0;
}
#first-page {
    counter-reset: page 1;
}

/* Colophon */
#colophon ~ p {
    font-family: var(--sans-serif);
    font-size: var(--text-sm);
}

main > h2:first-child,
main > #toc > *:first-child,
main > p:first-child,
main > ul:first-child {
    margin-top: -2px !important;
}
main > p[data-previous-break-after] ~ p {
    margin-top: -2px !important;
}
main > h4:first-child {
    margin-top: -5px !important;
}
main > p[data-previous-break-after] ~ h4 {
    margin-top: -5px !important;
}
main > figure:first-child {
    margin-top: 0;
}
main > p[data-previous-break-after] {
    display: none;
}
main > h3:first-child,
main > aside:first-child,
main > blockquote:first-child,
main > table:first-child,
main > .footnotes > hr {
    margin-top: -1px !important;
}
main > p[data-previous-break-after] ~ h3 {
    margin-top: -1px !important;
}
main > .footnotes > ol {
    margin-top: 1.5px !important;
}

@media print{
    @page {
        size: 140mm 216mm; /* Format Digest */
        margin-top: 48px;
        margin-bottom: 64px;
        /*bleed: 6mm;
        marks: crop cross;*/
    }
    @page:left {
        margin-left: 50.253px;
        margin-right: 48px;
        @bottom-left {
            content: counter(page);
            font-family: var(--sans-serif);
            font-size: var(--text-xs);
            align-items: start;
            margin-top: 17px;
        }
    }
    @page:right {
        margin-left: 48px;
        margin-right: 50.253px;
        @bottom-right {
            content: counter(page);
            font-family: var(--sans-serif);
            font-size: var(--text-xs);
            align-items: start;
            margin-top: 17px;
        }
        /*@bottom-left {
          content: string(title);
          width: 110mm;
          font-family: var(--sans-serif);
          font-size: var(--text-xs);
          align-items: start;
          margin-top: 17px;
        }*/
    }
    @page:blank {
      @bottom-left { content: none; }
      @bottom-right { content: none; }
    }
    @page first {
      @bottom-left { content: none; }
      @bottom-right { content: none; }
    }
    @page:nth(3) {
      @bottom-left { content: none; }
      @bottom-right { content: none; }
    }
    #cover, #first-page {
        break-after: right;
    }
    #colophon, #last-page {
        break-before: left;
    }
    h2 {
        break-after: right;
        break-before: right;
    }
}
